{% extends "index.html" %}
{% block content %}
    <div class="refer-friend_refer_friend__2wxT8">
        <div class="refer-friend-section_refer_friend_section__zlP4U">
            <div class="refer-friend-image_refer_friend_image__mMcqN">
                </div>
            <div class="refer-friend-section_title__OSAUM">Приглашай друзей! Дарим по <div
                    class="refer-friend-section_gradient_text__XQApW">500 рублей</div> каждому!</div>
            <div class="refer-friend-section_description_box__7Egow">
                <div class="refer-friend-section_description_box_title__OUXbV">
                    Получи за каждое приглашение по твоей реферальной ссылке 
                    <div class="refer-friend-section_gradient_text__XQApW">
                        500 баллов.
                    </div>
                </div>
                <div class="refer-friend-section_description_box_title__OUXbV">
                    <div class="refer-friend-section_gradient_text__XQApW">1 балл</div> <strong>= 1 рубль</strong>. <br>
                    
                </div>
            </div>
            <div class="refer-friend-section_info_box__iJztu">
                <p>Баллы начисляются после того как заказ пользователя, перешедшего по реферальной ссылке, был отправлен.</p>
            </div>
        </div>
        <div class="link-history-refers-section_link_history_refers_section__cqdH2">
            <div class="link-history-refers-section_title__H_7dX">Твоя ссылка на приглашение</div>
            <div class="link-history-refers-section_refer_link__ujajE">https://t.me/unicorn_go_bot?start=1081342244
            </div><button class="button_button__FUDeW button_text-accent__Vjz4p">Скопировать</button>
            <div class="link-history-refers-section_info_box__hRYLm">
                <div class="link-history-refers-section_item__K_uXQ"><span>Переходов по ссылке</span><span>0</span>
                </div>
                <div class="link-history-refers-section_item__K_uXQ"><span>Сделали заказ</span><span>0</span></div>
                <div class="link-history-refers-section_item__K_uXQ"><span>Отправили в РФ</span><span>0</span></div>
                <div class="link-history-refers-section_item__K_uXQ"><span>Всего баллов заработано</span><span>0</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}