{% extends "index.html" %}
{% block content %}
<div class="refer-friend_refer_friend__2wxT8">
<div class="layout_layout__AtVXc" id="layout">
    <div class="layout_body__lgFCb">
        <div class="profile-section_profile_section__3fg5R">
            <div class="profile-section_header__LvhUj">
                <div class="profile-section_avatar_box__eMm5y">
                    <div class="profile-section_avatar_transparent__02amb">
                        <div class="profile-section_avatar__MM6QC">
                            😎
                        </div>
                    </div>
                </div>
                <div class="profile-section_name__v2V3Q">Имя Фамилия</div>
            </div></div><div class="profile_sections__w7qq7">
                <div class="ui_layout__COlzr">
                    <div class="ui_title__RpyVH">
                        Данные доставки
                    </div>
                    <div class="data-section-row_data_section_row__loAjY">
                        <span>
                            ФИО получателя
                        </span>
                        <span class="data-section-row_value__CC6EG data-section-row_empty__P04Wa">
                            Не указан
                        </span>
                    </div>
                    <div class="data-section-row_data_section_row__loAjY">
                        <span>
                            Телефон
                        </span>
                        <span class="data-section-row_value__CC6EG data-section-row_empty__P04Wa">
                            Не указан
                        </span>
                    </div>
                    <button class="button_button__FUDeW button_text__g8M_m ui_btn___Ll4m">
                        Редактировать
                    </button>
                </div>
                <div class="ui_layout__COlzr">
                    <div class="ui_title__RpyVH">
                        <span class="ui_gradient_text__QPVDD">
                            История заказов
                        </span>
                    </div>
                    <div class="ui_description__8y4Lp">
                        <p>Здесь можно отследить активные заказы</p>
                    </div>
                    <button class="button_button__FUDeW button_text__g8M_m ui_btn___Ll4m">
                        Открыть меню
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}