{% extends "index.html" %}
{% block content %}
<div class="layout_body__lgFCb">
        <div class="home-page_wrapper__4MyUk">
            <nav class="navigation_navigation__V40zi"><a class="navigation_user__jYtrx" href="/profile" id="tovar_backbutton">
                    <div class="navigation_avatar__k8q_O">😎</div>
                    <div class="navigation_detail__SbPTg">
                        <div class="navigation_name_box___VJcS">
                            <div class="navigation_name__rmOY_">Дмитрий</div><svg viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="m7.5 5 5 5-5 5" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </a>
            </nav>
            <div class="catalog-search_catalog_search__ocOev">
                <div class="catalog-search_input__knGRA">
                    <div class="catalog-search_icon__MZm8m"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                            height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-search">
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                            <path d="M21 21l-6 -6"></path>
                        </svg></div><input type="text" enterkeyhint="search" placeholder="Введите название" value="">
                </div>
            </div>
            <div class="actions_wrapper__8O5TX">
                <div class="actions_column__gjzWG">
                    <div class="actions_card__9X5UK actions_point_card__ycsCH">
                        <a href = "/izbr">
                        <div class="actions_card_background__hh0Dw">
                            <div class="actions_inner__XrWVI" style="justify-content: center" >
                                <div class="actions_head__utxgH" >
                                    <div class="actions_title__UTlDm">Избранное</div><svg viewBox="0 0 23 23"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m8.625 5.75 5.75 5.75-5.75 5.75"
                                            stroke="url(#gradient-chevron-right_svg__a)" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                        <defs>
                                            <radialGradient id="gradient-chevron-right_svg__a" cx="0" cy="0" r="1"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="matrix(89.99998 2 -1.61598 72.71905 -53 -.5)">
                                                <stop stop-color="#EB9C00"></stop>
                                                <stop offset="0.271" stop-color="#FF4769"></stop>
                                                <stop offset="0.664" stop-color="#3D50FF"></stop>
                                                <stop offset="1" stop-color="#00B3FF"></stop>
                                            </radialGradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="actions_column__gjzWG">
                    <div class="actions_card__9X5UK actions_point_card__ycsCH">
                        <a href = "/friend">
                        <div class="actions_card_background__hh0Dw"
                            style="clip-path: path(&quot;M 150 0 c 18.8562 0 28.2843 0 34.1421 5.8579 a 20 20 0 0 1 0 0 c 5.8579 5.8579 5.8579 15.286 5.8579 34.1421 L 190 61.3906 c 0 18.8562 0 28.2843 -5.8579 34.1421 a 20 20 0 0 1 0 0 c -5.8579 5.8579 -15.286 5.8579 -34.1421 5.8579 L 40 101.391 c -18.8562 0 -28.2843 0 -34.1421 -5.8579 a 20 20 0 0 1 0 0 c -5.8579 -5.8579 -5.8579 -15.286 -5.8579 -34.1421 L 0 40 c 0 -18.8562 0 -28.2843 5.8579 -34.1421 a 20 20 0 0 1 0 0 c 5.8579 -5.8579 15.286 -5.8579 34.1421 -5.8579 Z&quot;);">
                            <div class="actions_inner__XrWVI">
                                <div class="actions_head__utxgH">
                                    <div class="actions_title__UTlDm">Баллы</div><svg viewBox="0 0 23 23"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m8.625 5.75 5.75 5.75-5.75 5.75"
                                            stroke="url(#gradient-chevron-right_svg__a)" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                        <defs>
                                            <radialGradient id="gradient-chevron-right_svg__a" cx="0" cy="0" r="1"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="matrix(89.99998 2 -1.61598 72.71905 -53 -.5)">
                                                <stop stop-color="#EB9C00"></stop>
                                                <stop offset="0.271" stop-color="#FF4769"></stop>
                                                <stop offset="0.664" stop-color="#3D50FF"></stop>
                                                <stop offset="1" stop-color="#00B3FF"></stop>
                                            </radialGradient>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="actions_footer__FJmxX">
                                    <div class="points-icon_points_icon__1r6TU actions_points_icon__a7mGO">₽</div>
                                    <div class="actions_points_num__fpJwj">0</div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="products-list-head_products_list_head__3Srck catalog-section_title__FkhiG">
                    <h2>Каталог</h2>
                    <div class="products-list-head_filters__DY8rq"><button
                            class="button_button__FUDeW button_default__AaAY9 products-list-head_icon_button__LHBsV"><svg
                                viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m21.875 21.875-6.25-6.25m2.083-5.208a7.292 7.292 0 1 1-14.583 0 7.292 7.292 0 0 1 14.583 0Z"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg></button><button
                            class="button_button__FUDeW button_default__AaAY9 products-list-head_icon_button__LHBsV"><svg
                                viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.25 12.5a2.083 2.083 0 0 0 0-4.167m0 4.167a2.083 2.083 0 0 1 0-4.167m0 4.167v8.333m0-12.5V4.167M12.5 18.75a2.083 2.083 0 0 0 0-4.167m0 4.167a2.083 2.083 0 0 1 0-4.167m0 4.167v2.083m0-6.25V4.167m6.25 5.208a2.083 2.083 0 1 0 0-4.167m0 4.167a2.083 2.083 0 1 1 0-4.167m0 4.167v11.458m0-15.625V4.167"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg></button></div>
                </div>
                <div>
                    <div class="product-grid-infinite_product_grid_infinite__SZ6tG">
                        {% for i in range(10) %}
                        <a href="{{ url_for('tovar_detail', tovar_id=1) }}">
                        <div class="product-card_product_card__uNcIA" 
                            >
                            <div class="product-card_image_wrapper__umJ7O">
                                <div class="product-card_image__YH7KW"
                                    style="clip-path: path(&quot;M 157 0 c 15.0849 0 22.6274 0 27.3137 4.6863 a 16 16 0 0 1 0 0 c 4.6863 4.6863 4.6863 12.2288 4.6863 27.3137 L 189 104.938 c 0 15.0849 0 22.6274 -4.6863 27.3137 a 16 16 0 0 1 0 0 c -4.6863 4.6863 -12.2288 4.6863 -27.3137 4.6863 L 32 136.938 c -15.0849 0 -22.6274 0 -27.3137 -4.6863 a 16 16 0 0 1 0 0 c -4.6863 -4.6863 -4.6863 -12.2288 -4.6863 -27.3137 L 0 32 c 0 -15.0849 0 -22.6274 4.6863 -27.3137 a 16 16 0 0 1 0 0 c 4.6863 -4.6863 12.2288 -4.6863 27.3137 -4.6863 Z&quot;);">
                                    <div class="product-card_image_inner__mpn3r"><img alt="" sizes="100%"
                                            src="https://www.pinclipart.com/picdir/big/19-192063_graphic-black-and-white-download-clipart-soup-emoji.png"
                                            decoding="async" data-nimg="fill" loading="lazy"
                                            style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                                    </div>
                                </div>
                            </div>
                            <div class="product-card_body__nDSSZ">
                                <div class="product-card_price__RMFFj">11 335 ₽</div>
                                <div class="product-card_title__BfP5q">Супчик</div>
                            </div><button class="product-card_button__Gqa5R"
                                style="clip-path: path(&quot;M 162 0 c 0 0 0 0 0 0 a 15 15 0 0 1 15 15 c 0 0 0 0 0 0 L 177 15 c 0 0 0 0 0 0 a 15 15 0 0 1 -15 15 c 0 0 0 0 0 0 L 15 30 c 0 0 0 0 0 0 a 15 15 0 0 1 -15 -15 c 0 0 0 0 0 0 L 0 15 c 0 0 0 0 0 0 a 15 15 0 0 1 15 -15 c 0 0 0 0 0 0 Z&quot;);">
                                <div class="product-card_inner__E9KOL">Купить</div>
                            </button>
                        </div>
                        </a>
                        {% endfor %}
                    <div class="loading-dots_loading_dots__J7CPx product-grid-infinite_loader__kX3v4"
                        style="--loading-dots-size: 5px;"><span></span><span></span><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


